.premium {
 padding: 12rem 0 0;
 width: 964px;
 margin: auto;
 text-align: center;
}
.premium .title {
 font-weight: bold;
 font-size: 36px;
 margin-bottom: 2rem;
}
.premium .dumb {
 font-weight: bold;
 color: #EE4622;
}
.premium .sound {
 font-weight: bold;
}
.premium .form-payment {
 margin-top: 2rem;
}