.navbar .register {
 background-color: #EE4622;
 color: #fff;
 border: none;
 padding: .1rem 2rem;
}

.navbar .login {
 background-color: transparent;
 color: #fff;
 border: 2px solid #fff;
 padding: .1rem 2rem;
}

.dropdown .profile::before {
 content: '';
}

.dropdown .profile {
 background-color: transparent !important;
 border: none;
}
.dropdown .profile:hover {
 background-color: transparent;
 border: none;
}
.dropdown .menu {
 color: #000 !important;
 text-decoration: none !important;
 font-weight: 600 !important;
}
.dropdown .menu img {
 width: 20px;
 height: 20px;
 margin-right: .5rem;
}

.active-user {
 text-align: end;
 text-transform: capitalize;
}

.active-remaining {
 font-size: 12px;
 margin-top: -.35rem;
 text-align: end;
}
